header {
    height: 100px;
    background-color: bisque;
    border: 1px solid brown;
    padding: 50px;
}

section {
    height: 100px;
    background-color: bisque;
    border: 1px solid brown;
    padding: 50px;
}